<div class="movie-item">
  <img [src]="movie.image" alt="{{ movie.title }}">
  <div class="rating-container">
    <span class="rating">
      <i class="fa fa-star yellow-star"></i>
      {{ randomRatingCount }}
    </span>
    <span class="user-rating" (click)="openRatingPopup()">
      <i class="fa fa-star blue-star" [ngClass]="{'black-star': userRating !== null}"></i>
      <span *ngIf="userRating !== null" class="blue-rating">{{ userRating }}</span>
    </span>
  </div>
  <h2>{{ movie.title }}</h2>
</div>