<div class="movie-item">
  <img [src]="movie.image" alt="{{ movie.title }}">
  <div class="rating-container">
    <span class="rating">
      <i class="fa fa-star yellow-star"></i>
      {{ movie.averageRating }}
    </span>
    <span class="user-rating" (click)="openRatingPopup()">
      <i class="fa fa-star" [ngClass]="{'blue-star': userRating !== null, 'black-star': userRating === null}"></i>
      <span *ngIf="userRating !== null" class="blue-rating">{{ userRating }}</span>
    </span>
  </div>
  <h2>{{ movie.title }}</h2>
  <button (click)="navigateToDetails()">Details</button>
  <button (click)="deleteMovie()">Delete</button>
</div>
