.form {
  max-width: 100%;
  width: calc(100% - 20px);
  height: auto;
  margin:  auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}
 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 
.form-group {
  margin-bottom: 20px;
}
 
.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
 
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fafafa;
  overflow: hidden;
  height: 2em;
}
 
.input-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}
 
.input-container .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
 
.input-container .non-clickable {
  pointer-events: none;
}
 
.error-message {
  color: #d9534f;
  font-size: 12px;
  padding: 0;
}
 
.password-requirements {
  margin-top: 5px;
}
 
.password-requirements .requirement {
  font-size: 12px;
  display: flex;
  align-items: center;
}
 
.password-requirements .requirement i {
  margin-right: 5px;
}
 
.requirement.valid {
  color: green;
}
 
.requirement.invalid {
  color: red;
}
 
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
button:disabled {
  background-color: #b4b9c2;
  cursor: not-allowed;
}
 
button:not(:disabled):hover {
  background-color: #1976d2;
}
 
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
 
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
 
.small-button {
  padding: 5px 10px; 
  font-size: 12px; 
  margin-top: 10px;
}
 
@media (max-width: 768px) {
  .form {
    padding: 10px;
  }
 
  .input-container input {
    padding: 8px;
    font-size: 14px;
  }
 
  .password-requirements .requirement {
    font-size: 10px;
  }
 
  button {
    padding: 8px;
    font-size: 14px;
  }
}
 
@media (max-width: 768px) {
  .form {
    padding: 10px;
    width: calc(100% - 20px);
  }
 
  .password-requirements .requirement {
    font-size: 10px;
  }
 
  button {
    padding: 6px;
    font-size: 12px;
  }
 
  .modal-content {
    padding: 10px;
  }
 
  .small-button {
    padding: 4px 8px;
    font-size: 10px;
  }
  .label
  {
    font-size: 12px;
  }
  .input-container input
  {
    height: 3em;
  }
  .error-message
  {
    font-size: 10px;
  }
}