.movie-grid-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding: 10px 0;
}
 
.movie-grid {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-left: 5vw;
  margin-right: 5vw;
}
 
.movie-grid::-webkit-scrollbar {
  display: none;
}
 
.movie-grid app-movie-item {
  flex: 0 0 auto;
}
 
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  color: rgb(0, 0, 0);
  z-index: 0;
  transform: translateY(-50%);
}
 
.arrow.left {
  left: 10px;
}
 
.arrow.right {
  right: 10px;
}
 
.add-movie-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 1rem;
  text-decoration: none;
}
 
.add-movie-button:hover {
  background-color: #1976d2;
  transform: scale(1.05);
}
 
@media (max-width: 768px) {
  .movie-grid-container {
    padding: 5px 0;
    max-width: 19em;
  }
  .arrow {
    font-size: 18px;
    top: 45%;
  }
 
  .arrow.left {
    left: 5px;
  }
 
  .arrow.right {
    right: 5px;
  }
 
  .add-movie-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}
 
@media (max-width: 480px) {
  .arrow {
    font-size: 16px;
    top: 40%;
  }
 
  .arrow.left {
    left: 2px;
  }
 
  .arrow.right {
    right: 2px;
  }
 
  .add-movie-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.75rem;
  }
}