<div class="scrollable-container">

<form class="form" (ngSubmit)="addMovie(movieForm)" #movieForm="ngForm">
  <div class="form-group">
    <label for="title" class="label">Title:</label>
    <div class="input-container">
      <input type="text" [(ngModel)]="newMovie.title" placeholder="Title" name="title" required #title="ngModel">
    </div>
    <div *ngIf="title.touched && title.invalid" class="error-message">Title is required.</div>
  </div>
  
  <div class="form-group">
    <label for="image" class="label">Image URL:</label>
    <div class="input-container">
      <input type="text" [(ngModel)]="newMovie.image" placeholder="Image URL" name="image" required #image="ngModel">
    </div>
    <div *ngIf="image.touched && image.invalid" class="error-message">Image URL is required.</div>
  </div>
  
  <div class="form-group">
    <label for="description" class="label">Description:</label>
    <div class="input-container">
      <input type="text" [(ngModel)]="newMovie.description" placeholder="Description" name="description" required #description="ngModel">
    </div>
    <div *ngIf="description.touched && description.invalid" class="error-message">Description is required.</div>
  </div>

  <div class="form-group">
    <label for="trailer" class="label">Trailer URL:</label>
    <div class="input-container">
      <input type="text" [(ngModel)]="newMovie.trailer" placeholder="Trailer URL" name="trailer" required #trailer="ngModel">
    </div>
    <div *ngIf="trailer.touched && trailer.invalid" class="error-message">Trailer URL is required.</div>
  </div>
  
  <div class="form-group">
    <label for="creator" class="label">Creators:</label>
    <div class="input-container">
      <input type="text" [(ngModel)]="newCreator" placeholder="Creator" name="creator" #creator="ngModel">
      <span class="icon" (click)="addCreator()"><i class="fas fa-plus"></i></span>
    </div>
    <div *ngFor="let creator of newMovie.creators; let i = index" class="creator-container">
      <span class="creator-name">{{ creator }}</span>
      <span type="button" class="remove-button" (click)="removeCreator(i)"><i class="fas fa-trash"></i></span>
    </div>
    <div *ngIf="isCreatorsInvalid(movieForm)" class="error-message">At least one creator is required.</div>
  </div>
  
  <div class="form-group">
    <label for="star" class="label">Stars:</label>
    <div class="input-container">
      <input type="text" [(ngModel)]="newStar" placeholder="Star" name="star" #star="ngModel">
      <span class="icon" (click)="addStar()"><i class="fas fa-plus"></i></span>
    </div>
    <div *ngFor="let star of newMovie.stars; let i = index" class="creator-container">
      <span class="creator-name">{{ star }}</span>
      <button type="button" class="remove-button" (click)="removeStar(i)"><i class="fas fa-trash"></i></button>
    </div>
    <div *ngIf="isStarsInvalid(movieForm)" class="error-message">At least one star is required.</div>
  </div>
  
  <div class="form-group">
    <label for="genre" class="label">Genres:</label>
    <div class="input-container">
      <input type="text" [(ngModel)]="newGenre" placeholder="Genre" name="genre" #genre="ngModel">
      <span class="icon" (click)="addGenre()"><i class="fas fa-plus"></i></span>
    </div>
    <div *ngFor="let genre of newMovie.genre; let i = index" class="creator-container">
      <span class="creator-name">{{ genre }}</span>
      <button type="button" class="remove-button" (click)="removeGenre(i)"><i class="fas fa-trash"></i></button>
    </div>
    <div *ngIf="isGenresInvalid(movieForm)" class="error-message">At least one genre is required.</div>
  </div>

  <div class="form-group">
    <label for="releaseDate" class="label">Release Date:</label>
    <div class="input-container">
      <input type="date" [(ngModel)]="newMovie.releaseDate" placeholder="Release Date" name="releaseDate" required #releaseDate="ngModel">
    </div>
    <div *ngIf="releaseDate.touched && releaseDate.invalid" class="error-message">Release date is required.</div>
  </div>
  
  <div class="form-group">
    <label for="rating" class="label">Rating:</label>
    <div class="input-container">
      <input type="number" [(ngModel)]="newMovie.rating" name="rating" min="1" max="10" required #rating="ngModel">
    </div>
    <div *ngIf="rating.touched && rating.invalid" class="error-message">Rating is required.</div>
  </div>
  
  <button class="submit-button" type="submit" [disabled]="!isFormValid(movieForm)">Add Movie</button>
</form>
</div>